layout {
    pane split_direction="vertical" {
        pane borderless=false
    }
    pane size=1 borderless=true  {
        plugin location="file:/home/alyssa/.config/zellij/plugins/status.wasm" {
            format_left  "{mode}#[fg=#ffffff,bg=blue,bold]{session}  #[fg=blue,bg=#181825]{tabs}"
            format_right "#[fg=#ffffff,bg=#111111]{datetime}"
            format_space "#[bg=#181825]"

            hide_frame_for_single_pane "false"

            tab_normal              "#[fg=#ffffff,bg=#4C4C59] #[fg=#000000,bg=#4C4C59]{index}  {name} #[fg=#4C4C59,bg=#181825]"
            tab_normal_fullscreen   "#[fg=#ffffff,bg=#181825] {index} {name} [] "
            tab_normal_sync         "#[fg=#ffffff,bg=#181825] {index} {name} <> "
            tab_active              "#[fg=#181825,bg=#ffffff,bold,italic] {index}  {name} #[fg=#ffffff,bg=#181825]"
            tab_active_fullscreen   "#[fg=#ffffff,bg=#181825,bold,italic] {index} {name} [] "
            tab_active_sync         "#[fg=#ffffff,bg=#181825,bold,italic] {index} {name} <> "


            datetime          "#[fg=#ffffff,bg=#111111,bold] {format} "
            datetime_format   "%A, %d %b %Y %I:%M"
            datetime_timezone "Europe/Berlin"
        }
    }
}
